<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>

            <div class="about content">
                <h2>About Us</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Cumque repudiandae
                    exercitationem voluptatum quidem temporibus magni
                    odio sapiente. Aliquam quis, assumenda vel velit
                    eum sequi ex exercitationem inventore deleniti
                    illo laborum? Quas iure enim, fugit consequuntur
                    ea mollitia placeat quia accusamus perferendis
                    dignissimos quis incidunt earum. Fuga magni aut
                    earum doloribus!
                </p>

                <p>
                    Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Cumque repudiandae
                    exercitationem voluptatum quidem temporibus magni
                    odio sapiente. Aliquam quis, assumenda vel velit
                    eum sequi ex exercitationem inventore deleniti
                    illo laborum? Quas iure enim, fugit consequuntur
                    ea mollitia placeat quia accusamus perferendis
                    dignissimos quis incidunt earum. Fuga magni aut
                    earum doloribus!
                </p>

                <p>
                    Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Cumque repudiandae
                    exercitationem voluptatum quidem temporibus magni
                    odio sapiente. Aliquam quis, assumenda vel velit
                    eum sequi ex exercitationem inventore deleniti
                    illo laborum? Quas iure enim, fugit consequuntur
                    ea mollitia placeat quia accusamus perferendis
                    dignissimos quis incidunt earum. Fuga magni aut
                    earum doloribus!
                </p>
            </div>

            <%- include('./partials/foot.ejs') %>
    </body>

</html>