<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>

            <div class="create-blog content">
                <form action="">
                    <label for="title">Blog title:</label>
                    <input type="text" id="title" required />
                    <label for="snippet">Blog snippet: </label>
                    <input type="text" id="snippet" required />
                    <textarea id="body" cols="30" rows="10"></textarea>
                    <button>Submit</button>
                </form>
            </div>

            <%- include('./partials/foot.ejs') %>
    </body>

</html>